@import "normalize";
@import "var";
// @import "fonts";
//@import "mixins";
// @import 'blocks/header';
// @import 'blocks/adaptuvne__menu';

html,
body {
  height: 100%;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 100%;
  @media (min-width: $bp1024) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.6s ease-out;
  }
}
.fbx {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 40px;
  padding: 0 15px;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 35px;
    padding: 0 35px;
    background-color: rgba(255, 255, 255, 0.77);
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%), 0 7px 14px rgb(0 0 0 / 14%);

    .logo {
      margin: 0 auto;
      color: #565656;
      a {
        color: inherit;
        font-size: 20px;
        @media (max-width: $bp992) {
          font-size: 14px;
        }
      }
    }
    i {
      cursor: pointer;
      font-size: 18px;
      color: #a7a7a7;
    }
  }
}

.fullscreen {
  @media (min-width: $bp1024) {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
  }

  &__section {
    padding: 0 15px;
    min-height: 100vh;
    .container {
      display: flex;
    }
  }

  &__content {
    &.right {
      margin-left: auto;
    }
    flex: 0 1 100%;
    @media (min-width: $bp992) {
      flex: 0 1 50%;
    }
    h1,
    h2 {
      color: white;
      font-weight: 700;
      font-size: 56px;
      margin-bottom: 40px;
    }
    p {
      color: white;
      line-height: 1.7;
      margin-bottom: 40px;
    }
    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 500;
      color: white;
      text-transform: uppercase;
      border: 3px solid rgba(255, 255, 255, 0.56);
      background-color: rgba(250, 250, 250, 0.07);
      padding: 20px 40px;
      border-radius: 35px;
      &:hover {
        border-color: #fff;
      }
      transition: border 0.2s ease-in-out;
    }
  }
  &__navigation {
    position: fixed;
    background-color: #fff;
    right: 40px;
    top: calc(50% + 55px);
    @media (max-width: $bp992) {
      right: 10px;
      top: auto;
      bottom: 10px;
    }
    transform: translateY(-50%);
    padding: 15px 0;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%), 0 7px 14px rgb(0 0 0 / 14%);

    .navigation__button {
      position: relative;
      width: 40px;
      height: 36px;
      cursor: pointer;
      &:hover {
        span {
          visibility: visible;
          opacity: 1;
          transform: translateX(-10px);
        }
      }
      span {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        white-space: nowrap;
        right: 40px;
        top: 7px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 4px 12px;
        border-radius: 15px;
        transition: all 0.25s;
      }
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 10px;
        top: 8px;
        border: 3px solid #a7a7a7;
        border-radius: 50%;
      }
      &.active {
        &::after {
          border-color: #404040;
        }
      }
    }
  }
  .hero {
    background: url(https://images.unsplash.com/photo-1588379725366-232777d58919?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
      center/ cover no-repeat;
    .fullscreen__content {
      text-align: center;
      @media (min-width: $bp992) {
        flex: 0 1 100%;
      }
    }
  }

  .about {
    background: url(https://images.unsplash.com/photo-1588363970597-fc5debeecfc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
      center/ cover no-repeat;
  }
  .services {
    background: url(https://images.unsplash.com/photo-1588377845181-ab40e4a88d33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80)
      center/ cover no-repeat;
  }
  .contact {
    background: url(https://images.unsplash.com/photo-1588397290216-cbae9f2a226e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
      center/ cover no-repeat;
  }
}
